/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../Images/singupbackground.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

h2 {
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #febd69;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #f79c42;
}

p {
    margin-top: 10px;
}

a {
    color: #febd69;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
